<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="test/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./test/Test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./test</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
